.transactionTable {
  width: 100%;
  border-collapse: collapse;
  border: 1.5px solid #111111;
  margin-bottom: 40px;
}

.tableHead {
  color: #f9f9f9;
  background-color: #2b2a2a;
}

.tableHeader {
  border: 1px solid #111111;
  font-weight: 600;
  padding: 4px;
}

.tableRow:nth-child(even) {
  background-color: #dad7d7;
}

.tableRow:hover {
  background-color: #eef;
}

.tableCell {
  padding: 4px 40px;
  border: 1px solid #111111;
  text-align: left;
}
